<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
</style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 style="text-align:center"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p style="font-size: 16pt;text-align:center;">{{ site.description | default: site.github.project_tagline }}</p>
        <p style="text-align:center;">
            <a target=_blank href="https://twitter.com/odias_in_ml" class="fa fa-twitter"></a>
            <a target=_blank href="https://www.linkedin.com/groups/8973063/" class="fa fa-linkedin"></a>
            <a target=_blank href="https://www.facebook.com/groups/Odias.in.ML" class="fa fa-facebook"></a>
            <a target=_blank href="https://www.youtube.com/channel/UCaoGfM_49C8kcKqyTh-fr6Q/" class="fa fa-youtube"></a>
          </p>
        {% if site.github.is_project_page %}
        <!--<p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>-->
        {% endif %}

        {% if site.github.is_user_page %}
       <!--<p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p> -->
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

        <div class="donate" style="width:100%;text-align: center;">
          <h4>Support The Society</h4>
          <div id="paypal-button-container"></div>
        </div>

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This website is maintained by <a target=_blank href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p style="text-align:center;">Unique Visitors: <script type = "text/javascript" src = "//counter.websiteout.net/js/5/0/100/1"> </script></p>
        <!-- <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AWnc_Ft9NUfQc30EHAEtR6yeSaB3IA0MRTxY8ilzaU46iv0jJtdsv9aEOF4dpp0y__MIP210dAbO7Tg6"></script>
    <script>
      // Render the PayPal button into #paypal-button-container
      paypal.Buttons({
        style: {
          layout: 'horizontal'
        },
        // Set up the transaction
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '0.01'
              }
            }]
          });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            // Show a success message to the buyer
            alert('Transaction completed by ' + details.payer.name.given_name + '!');
          });
        }


      }).render('#paypal-button-container');
    </script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
